/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

.filter-card {
    margin-left: 0;
}
.card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 5px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-radius: 5px 5px 0 0;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.btn {
    border-radius: 50px;
    font-size: 0.875rem;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
}

/* Mobile Styles */
@media only screen and (max-width: 575px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .card-img-top {
        height: 150px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-img-top {
        height: 175px;
    }
}

/* Small Desktop Styles */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .card-img-top {
        height: 200px;
    }
}

/* Large Desktop Styles */
@media only screen and (min-width: 992px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

