body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.row {
    display: flex;
    align-items: center;
}

.col-md-4 {
    text-align: center;
}

.img-thumbnail {
    max-width: 200px;
    height: auto;
}

.col-md-8 {
    padding-left: 1.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s;
}

ul li a:hover {
    color: #007bff;
}

.social-icons {
    list-style-type: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: #333;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #007bff;
}