{% extends 'base.html' %}

{% block content %}
    <h1>Browse Roommates</h1>
    <hr>
    <div class="row">
        {% for roommate in roommates %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{ roommate.image.url }}" alt="{{ roommate.title }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ roommate.title }}</h4>
                        <p class="card-text">{{ roommate.description }}</p>
                        <a href="{% url 'room_detail' roommate.id %}" class="btn btn-primary">View Roommate</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}