<footer>
    <div class="container-fluid bg-dark text-light">
        <div class="row p-4">
            <div class="col-md-4">
                <h5>Find a Roommate</h5>
                <p>Looking for a new roommate? We can help you find the perfect match!</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-phone"></i> +1-123-456-7890</li>
                    <li><i class="fas fa-envelope"></i> info@findaroommate.com</li>
                    <li><i class="fas fa-map-marker-alt"></i> 123 Main St, Anytown, USA</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Find a Roommate</p>
            </div>
        </div>
    </div>
</footer>
