{% extends 'base.html' %}
{% load static %}

{% block title %} Post a Room {% endblock %}

{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/manage_apartment.css' %}">
{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="my-4">Post a room</h1>
                <div class="card">
                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}