{% extends 'base.html' %}

{% block content %}
    <h1>{{ roommate.title }}</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="{{ roommate.image.url }}" alt="{{ roommate.title }}">
        </div>
        <div class="col-md-6">
            <h4>Description:</h4>
            <p>{{ roommate.description }}</p>
            <h4>Price:</h4>
            <p>${{ roommate.price }}</p>
            <h4>Location:</h4>
            <p>{{ roommate.location }}</p>
        </div>
    </div>
{% endblock %}
