{% extends 'base.html' %}
{% load static %}
{% block loadcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <h1>{{ user_profile.first_name }}'s Profile</h1>
        <hr>
        <div class="row">
            <div class="col-md-4">
                {% if user_profile.profile_pic %}
                    <img src="{{ user_profile.profile_pic.url }}" alt="{{ user_profile.user.username }}"
                         class="img-thumbnail">
                {% else %}
                    <img src="{% static 'members/avatar_logo.png' %}" alt="Default profile picture"
                         class="img-thumbnail">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h3>{{ user_profile.first_name }} {{ user_profile.last_name }}</h3>
                <p><strong>User Type:</strong> {{ user_profile.get_user_type_display }}</p>
                <p><strong>Location:</strong> {{ user_profile.location }}</p>
                <p><strong>Phone Number:</strong> {{ user_profile.phone_number }}</p>
                <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
                <p><strong>Birthdate:</strong> {{ user_profile.birthdate }}</p>
                <h4>Social Media</h4>
                <ul class="social-icons">
                    {% if user_profile.social_facebook %}
                        <li><a href="{{ user_profile.social_facebook }}" target="_blank" rel="noopener noreferrer"
                               title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    {% endif %}
                    {% if user_profile.social_twitter %}
                        <li><a href="{{ user_profile.social_twitter }}" target="_blank" rel="noopener noreferrer"
                               title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    {% endif %}
                    {% if user_profile.social_instagram %}
                        <li><a href="{{ user_profile.social_instagram }}" target="_blank" rel="noopener noreferrer"
                               title="Instagram"><i class="fab fa-instagram"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
